<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学习小助手</title>
    <link rel="stylesheet"
          href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet"
          href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
</head>
<body>
<header class="bar bar-nav">
    <h1 class='title'>学习小助手</h1>
</header>
<div class="card">
    <div class="card-content">
        <div class="card-content-inner">学习小组手</div>
    </div>
</div>
<div style="font-size: 12px; margin-left: 26px;">搜索方法：选取题目中任意词组作为关键词，简短即可。</div>
<div style="font-size: 12px; margin-left: 26px;">作者的话：知识的搜索引擎，更多知识点欢迎你来补充。</div>
<div style="font-size: 12px; margin-left: 26px;">反馈邮件：isysc1@163.com</div>
<div style="margin-bottom: 20px" class="content-padded">
    <form method="get" onsubmit="return false;" accept-charset="utf-8">
    <div class="searchbar row">
        <div class="search-input col-85">
            <input name="question" type="search" id='search' placeholder='输入关键字...'/>
        </div>

        <button type="submit" value="提交" id="button" class="button button-fill button-primary col-15" onclick="gogo()">Go</button>

    </div>
    </form>

    <div class="card" th:each="answer:${answers}">
        <div class="card-content">
            <div class="card-content-inner" th:text="${answer.getTitle()}"></div>
        </div>
    </div>

</div>
<script type="text/javascript" th:src="@{/js/jquery-1.8.3.js}"></script>
<script type="text/javascript">
    function gogo(){
        const keyCont = $("#search").val();
        $.ajax({
            data: {"search":keyCont},
            url:"/getCont",
            type:"post",
            success:function () {
                location.href = "getCont?search="+keyCont;
            }
        })
    }
</script>

</body>
</html>