<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>挑战答题小助手</title>
    <link rel="stylesheet"
          href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet"
          href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">

    <link rel="stylesheet" type="text/css" th:href="@{/css/semantic.min.css}">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script th:src="@{/js/semantic.min.js}"></script>
</head>
<body>
<header class="bar bar-nav">
    <h1 class='title'>挑战答题小助手</h1>
</header>

<div style="font-size: 12px; margin-left: 26px; margin-top: 70px">原项目为Django + Sui Moible 无聊用 springboot + Sui Moible + semantic 重写了一遍~</div>
<div style="font-size: 12px; margin-left: 26px; margin-bottom: 10px" th:text="${'开发目的是帮助学习、切勿商用、滥用，反馈邮件：rootxmg@163.com'}"></div>
<div style="margin-bottom: 20px" class="content-padded">
    <form method="get" onsubmit="return false;" accept-charset="utf-8" class="ui form">
    <div class="searchbar row">
        <div class="search-input col-85">
            <input name="question" type="search" id='search' placeholder='输入关键字...' th:value="${keyConT}"/>
        </div>

        <button type="submit" value="提交" id="button" class="button button-fill button-primary col-15" onclick="gogo()">Go</button>

    </div>
    </form>

    <div class="card" th:each="answer:${answers}">
        <div class="card-content">
            <div class="card-content-inner" th:text="${answer.getTitle()}"></div>
        </div>
    </div>

</div>
<script type="text/javascript" th:src="@{/js/jquery-1.8.3.js}"></script>
<script type="text/javascript">
    function gogo(){
        const keyCont = $("#search").val();
        $.ajax({
            data: {"search":keyCont},
            url:"/getCont",
            type:"post",
            success:function () {
                location.href = "getCont?search="+keyCont;
            }
        })
    }
</script>

</body>
</html>